In [70]:
import requests #imports
from bs4 import BeautifulSoup #https://realpython.com/beautiful-soup-web-scraper-python/
import pandas as pd
import re #https://stackoverflow.com/questions/17336943/removing-non-numeric-characters-from-a-string
import numpy as np 
#https://medium.com/analytics-vidhya/how-to-scrape-a-table-from-website-using-python-ce90d0cfb607

In [71]:
#make the soup of HTML
def initialize(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.content, "html.parser")
    results = soup.find(id="fittPageContainer")
    tables = results.find_all("div", class_="ResponsiveTable ResponsiveTable--fixed-left pt4")
    return results, tables

In [72]:
results, tables = initialize("https://www.espn.com/nfl/player/stats/_/id/2969962/duke-johnson")
#results

In [73]:
#Find the name of the player
def nameandposition(results):
    name_and_position = results.find_all("div", class_="PlayerHeader__Main_Aside min-w-0 flex-grow flex-basis-0")
    for element in name_and_position:
        name = element.find("h1", class_="PlayerHeader__Name")
        name = name.text.strip()
        
    for element in name_and_position:
        pos = element.find("ul", class_="PlayerHeader__Team_Info list flex pt1 pr4 min-w-0 flex-basis-0 flex-shrink flex-grow nowrap")
    numrole = pos.text.strip().split('#')[1]
    role = ''.join(i for i in numrole if not i.isdigit())
    return name, role

In [74]:
#test Cell
name, position = nameandposition(results)
#print(name)
#print(position)

In [75]:
def basic_data(results):
    immutable_elements = results.find_all("div", class_="fw-medium clr-black")
    HTWT = immutable_elements[0].text.strip()
    DOB = immutable_elements[1].text.strip()
    COLLEGE = immutable_elements[2].text.strip()
    Draftpick = immutable_elements[3].text.strip()
    activity_status = immutable_elements[4].text.strip()
    
    #Seperate Height and Weight
    x = HTWT.split(', ')
    ht = x[0]
    wt = x[1]
    #process height
    y = ht.split(' ')
    ft = y[0]
    inch = y[1]
    ft = int(re.sub('[^0-9]','', ft))
    inch = int(re.sub('[^0-9]','', inch))
    height = ((12*ft)+inch)
    #process weight
    weight = int(re.sub('[^0-9]','', wt))
    
    #process DOB
    x = DOB.split(' (')
    DOB = x[0]
    y = DOB.split('/')
    DOB = int(re.sub('[^0-9]','', y[2]))
    
    #process Draft pick data
    x = Draftpick.split(': ')
    draftyear = int(re.sub('[^0-9]','', x[0]))
    y = x[1].split(', Pk ')
    draftround = int(re.sub('[^0-9]','', y[0]))
    z = y[1].split(' ')
    draftpick = int(re.sub('[^0-9]','', z[0]))
    draftteam = z[1]
    
    return height, weight, DOB, COLLEGE, draftyear, draftround, draftpick, draftteam, activity_status

In [76]:
#test cell
height, weight, DOB, COLLEGE, draftyear, draftround, draftpick, draftteam, activity_status = basic_data(results)
print(height)
print(weight)
print(DOB)
print(COLLEGE)
print(draftyear)
print(draftround)
print(draftpick)
print(draftteam)
print(activity_status)

69
210
1993
Miami
2015
3
77
(CLE)
Active

In [93]:
def build_basedata(results):
    name, position = nameandposition(results)
    height, weight, DOB, COLLEGE, draftyear, draftround, draftpick, draftteam, activity_status = basic_data(results)
    data = {
        'name':[name],
        'position':[position],
        'height (inches)':[height],
        'weight (pounds)':[weight],
        'DOB':[DOB],
        'COLLEGE':[COLLEGE],
        'draftyear':[draftyear],
        'draftround':[draftround],
        'draftpick':[draftpick],
        'draftteam':[draftteam],
        'activity_status':[activity_status]}
    dataframe = pd.DataFrame(data)
    return dataframe

In [94]:
#Test Cell
basedata = build_basedata(results)
basedata

,name,position,height (inches),weight (pounds),DOB,COLLEGE,draftyear,draftround,draftpick,draftteam,activity_status
0,DukeJohnson,Running Back,69,210,1993,Miami,2015,3,77,(CLE),Active

In [95]:
#format single datasheet
def maketable(data, statname):
    #Find the first part of the table from the html
    data1 = data.find("table", class_="Table Table--align-right Table--fixed Table--fixed-left")
    
    # Obtain every title of columns with tag <th>
    headers = []
    for i in data1.find_all("th"):
        title = i.text
        headers.append(title)
    
    # Create a dataframe
    data1data = pd.DataFrame(columns = headers)

    # Create a for loop to fill table
    for j in data1.find_all("tr")[1:]:
        row_data = j.find_all("td")
        row = [i.text for i in row_data]
        length = len(data1data)
        data1data.loc[length] = row
    
    #find the second part of the table from the html
    data2 = data.find("table", class_="Table Table--align-right")
    
    # Obtain every title of columns with tag <th>
    headers = []
    for i in data2.find_all("th"):
        title = i.text
        headers.append(title)
    
    #Add name tag to all headers
    append_str = statname
    headers = [append_str + sub for sub in headers]
    
    # Create a dataframe
    data2data = pd.DataFrame(columns = headers)
    
    # Create a for loop to fill mydata
    for j in data2.find_all("tr")[1:]:
        row_data = j.find_all("td")
        row = [i.text for i in row_data]
        length = len(data2data)
        data2data.loc[length] = row
        
    datadata = pd.concat([data1data,data2data], axis = 1)
    datadata.drop(datadata.tail(1).index,inplace=True)
    return datadata

In [96]:
def makereturningtable(data):
    
    data1headers = data.find("table", class_="Table Table--align-right Table--fixed Table--fixed-left")
    
    headers = []
    for i in data1headers.find_all("th"):
        title = i.text
        headers.append(title)
        
    data1data = pd.DataFrame(columns = headers[1:])
    
    data1 = data.find("tbody", class_="Table__TBODY")
    
    for j in data1.find_all("tr")[0:]:
        row_data = j.find_all("td")
        row = [i.text for i in row_data]
        length = len(data1data)+2
        data1data.loc[length] = row
        
        
    data1data = data1data.reset_index()
    del data1data['index']

    data2headers = data.find("table", class_="Table Table--align-right")
    headers = []
    for i in data2headers.find_all("th"):
        title = i.text
        headers.append(title)
    append_str = "returning: "
    
    for i in range(0, 8):
        headers[i] = "PUNTS: " + headers[i]
    for i in range(8, 13):
        headers[i] = "KICKOFFS: " + headers[i]
    
    headers = [append_str + sub for sub in headers]
    
    data2data = pd.DataFrame(columns = headers[2:])
    
    data2 = data.find_all("tbody", class_="Table__TBODY")[1]
    for j in data2.find_all("tr")[0:]:
        row_data = j.find_all("td")
        row = [i.text for i in row_data]
        length = len(data2data)
        data2data.loc[length] = row

    
    datadata = pd.concat([data1data,data2data], axis = 1)
    datadata.drop(datadata.tail(1).index,inplace=True)
    return datadata

In [97]:
#format bulk data
def bulkdata(results, tables):
    returnlist = []
    for i in range(0,len(tables)):
        if "Passing" in tables[i].text:
            passingdat = maketable(tables[i], "Passing: ")
            returnlist.append(passingdat)
        elif "Rushing" in tables[i].text:
            rushingdat = maketable(tables[i], "Rushing: ")
            returnlist.append(rushingdat)
        elif "Receiving" in tables[i].text:
            receivingdat = maketable(tables[i], "Receiving: ")
            returnlist.append(receivingdat)
        elif "Returning" in tables[i].text:
            returningdat = makereturningtable(tables[i])
            returnlist.append(returningdat)
        elif "Defensive" in tables[i].text:
            defensivedat = maketable(tables[i], "Defensive: ")
            returnlist.append(defensivedat)
        elif "Scoring" in tables[i].text:
            scoringdat = maketable(tables[i], "Scoring: ")
            returnlist.append(scoringdat)
    return returnlist

In [98]:
#test Cell
a = bulkdata(results,tables)
display(a[2])
display(a[5])
len(a)

,season,Team,returning: PUNTS: GP,returning: PUNTS: ATT,returning: PUNTS: YDS,returning: PUNTS: TD,returning: PUNTS: FC,returning: PUNTS: LNG,returning: KICKOFFS: ATT,returning: KICKOFFS: YDS,returning: KICKOFFS: TD,returning: KICKOFFS: KRFC,returning: KICKOFFS: LNG
0,2015,CLE,16,0,0,0,0,0,2,52,0,0,30
1,2016,CLE,16,17,112,0,1,18,1,19,0,0,19
2,2017,CLE,16,3,17,0,1,12,0,0,0,0,0

,season,Team,Scoring: GP,Scoring: PASS,Scoring: RUSH,Scoring: REC,Scoring: RET,Scoring: TD,Scoring: 2PT,Scoring: PAT,Scoring: FG,Scoring: PTS
0,2015,CLE,16,0,0,2,0,2,0,0,0,12
1,2016,CLE,16,0,1,0,0,1,0,0,0,6
2,2017,CLE,16,0,4,3,0,7,0,0,0,42
3,2018,CLE,16,0,0,3,0,3,2,0,0,22
4,2019,HOU,16,0,2,3,0,5,0,0,0,30
5,2020,HOU,11,0,1,1,0,2,0,0,0,12
6,2021,MIA,5,0,3,0,0,3,0,0,0,18

6

In [99]:
df = pd.merge(a[2], a[3], on=['season','Team'], how = 'outer')
df

,season,Team,returning: PUNTS: GP,returning: PUNTS: ATT,returning: PUNTS: YDS,returning: PUNTS: TD,returning: PUNTS: FC,returning: PUNTS: LNG,returning: KICKOFFS: ATT,returning: KICKOFFS: YDS,...,Passing: ATT,Passing: CMP%,Passing: YDS,Passing: AVG,Passing: TD,Passing: INT,Passing: LNG,Passing: SACK,Passing: RTG,Passing: QBR
0,2015,CLE,16,0,0,0,0,0,2,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,CLE,16,17,112,0,1,18,1,19,...,1,0.0,0,0.0,0,0,0,0,39.6,0.2
2,2017,CLE,16,3,17,0,1,12,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,CLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,0,0.0,0,0,0,0,0.0,79.9

In [119]:
#make function that formats the data together source:https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge.html
def combinedata(list, basedata):
    length = len(list)
    finaldata = pd.merge(a[0], a[1], on=['season','Team'], how = 'outer')
    for i in range(2,length):
        finaldata = pd.merge(finaldata, a[i], on=['season','Team'], how = 'outer')
        
    rows = len(df.index)
    
    #source: https://stackoverflow.com/questions/50788508/how-can-i-replicate-rows-in-pandas
    addition = basedata
    addition = pd.DataFrame(np.repeat(addition.values, 7, axis=0))
    addition.columns = basedata.columns
    
    finaldata = pd.concat([addition,finaldata], axis = 1)
    
    #add age, source:https://towardsdatascience.com/create-new-column-based-on-other-columns-pandas-5586d87de73d
    finaldata['age'] = df.apply(lambda row: int(row.season) - row.DOB, axis=1)
    
    #convert all numerical cells to int or float
    
    return finaldata

In [120]:
#test cell
df = combinedata(a, basedata)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # https://stackoverflow.com/questions/19124601/pretty-print-an-entire-pandas-series-dataframe
    print(df)

          name      position height (inches) weight (pounds)   DOB COLLEGE  \
0  DukeJohnson  Running Back              69             210  1993   Miami
1  DukeJohnson  Running Back              69             210  1993   Miami
2  DukeJohnson  Running Back              69             210  1993   Miami
3  DukeJohnson  Running Back              69             210  1993   Miami
4  DukeJohnson  Running Back              69             210  1993   Miami
5  DukeJohnson  Running Back              69             210  1993   Miami
6  DukeJohnson  Running Back              69             210  1993   Miami

  draftyear draftround draftpick draftteam activity_status season Team  \
0      2015          3        77     (CLE)          Active   2015  CLE
1      2015          3        77     (CLE)          Active   2016  CLE
2      2015          3        77     (CLE)          Active   2017  CLE
3      2015          3        77     (CLE)          Active   2018  CLE
4      2015          3        77     (CLE)          Active   2019  HOU
5      2015          3        77     (CLE)          Active   2020  HOU
6      2015          3        77     (CLE)          Active   2021  MIA

  Rushing: GP Rushing: ATT Rushing: YDS Rushing: AVG Rushing: TD Rushing: LNG  \
0          16          104          379          3.6           0           39
1          16           73          358          4.9           1           22
2          16           82          348          4.2           4           19
3          16           40          201          5.0           0           23
4          16           83          410          4.9           2           40
5          11           77          235          3.1           1           23
6           5           71          330          4.6           3           27

  Rushing: FD Rushing: FUM Rushing: LST Receiving: GP Receiving: REC  \
0          19            0            0            16             61
1          17            1            1            16             53
2          26            1            0            16             74
3           9            0            0            16             47
4          17            1            1            16             44
5          11            2            2            11             28
6          18            0            0             5              4

  Receiving: TGTS Receiving: YDS Receiving: AVG Receiving: TD Receiving: LNG  \
0              74            534            8.8             2             52
1              72            514            9.7             0             32
2              93            693            9.4             3             41
3              62            429            9.1             3             32
4              62            410            9.3             3             21
5              35            249            8.9             1             48
6               5             41           10.3             0             20

  Receiving: FD Receiving: FUM Receiving: LST returning: PUNTS: GP  \
0            23              1              0                   16
1            24              1              0                   16
2            31              2              2                   16
3            25              1              0                  NaN
4            18              0              0                  NaN
5             8              1              0                  NaN
6             3              0              0                  NaN

  returning: PUNTS: ATT returning: PUNTS: YDS returning: PUNTS: TD  \
0                     0                     0                    0
1                    17                   112                    0
2                     3                    17                    0
3                   NaN                   NaN                  NaN
4                   NaN                   NaN                  NaN
5                   NaN                   NaN                  NaN
6                   NaN                   NaN                  NaN

  returning: PUNTS: FC returning: PUNTS: LNG returning: KICKOFFS: ATT  \
0                    0                     0                        2
1                    1                    18                        1
2                    1                    12                        0
3                  NaN                   NaN                      NaN
4                  NaN                   NaN                      NaN
5                  NaN                   NaN                      NaN
6                  NaN                   NaN                      NaN

  returning: KICKOFFS: YDS returning: KICKOFFS: TD returning: KICKOFFS: KRFC  \
0                       52                       0                         0
1                       19                       0                         0
2                        0                       0                         0
3                      NaN                     NaN                       NaN
4                      NaN                     NaN                       NaN
5                      NaN                     NaN                       NaN
6                      NaN                     NaN                       NaN

  returning: KICKOFFS: LNG Passing: GP Passing: CMP Passing: ATT  \
0                       30         NaN          NaN          NaN
1                       19          16            0            1
2                        0         NaN          NaN          NaN
3                      NaN          16            0            0
4                      NaN         NaN          NaN          NaN
5                      NaN         NaN          NaN          NaN
6                      NaN         NaN          NaN          NaN

  Passing: CMP% Passing: YDS Passing: AVG Passing: TD Passing: INT  \
0           NaN          NaN          NaN         NaN          NaN
1           0.0            0          0.0           0            0
2           NaN          NaN          NaN         NaN          NaN
3           0.0            0          0.0           0            0
4           NaN          NaN          NaN         NaN          NaN
5           NaN          NaN          NaN         NaN          NaN
6           NaN          NaN          NaN         NaN          NaN

  Passing: LNG Passing: SACK Passing: RTG Passing: QBR Defensive: GP  \
0          NaN           NaN          NaN          NaN            16
1            0             0         39.6          0.2            16
2          NaN           NaN          NaN          NaN            16
3            0             0          0.0         79.9            16
4          NaN           NaN          NaN          NaN            16
5          NaN           NaN          NaN          NaN           NaN
6          NaN           NaN          NaN          NaN           NaN

  Defensive: TOT Defensive: SOLO Defensive: AST Defensive: SACK Defensive: FF  \
0              2               2              0               0             0
1              2               2              0               0             0
2              2               2              0               0             0
3              3               3              0               0             0
4              3               3              0               0             0
5            NaN             NaN            NaN             NaN           NaN
6            NaN             NaN            NaN             NaN           NaN

  Defensive: FR Defensive: YDS Defensive: INT Defensive: YDS Defensive: AVG  \
0             0              0              0              0            0.0
1             0              0              0              0            0.0
2             0              0              0              0            0.0
3             0              0              0              0            0.0
4             0              0              0              0            0.0
5           NaN            NaN            NaN            NaN            NaN
6           NaN            NaN            NaN            NaN            NaN

  Defensive: TD Defensive: LNG Defensive: PD Defensive: STF Defensive: STFYDS  \
0             0              0             0              0                 0
1             0              0             0              0                 0
2             0              0             0              0                 0
3             0              0             0              0                 0
4             0              0             0              0                 0
5           NaN            NaN           NaN            NaN               NaN
6           NaN            NaN           NaN            NaN               NaN

  Defensive: KB Scoring: GP Scoring: PASS Scoring: RUSH Scoring: REC  \
0             0          16             0             0            2
1             0          16             0             1            0
2             0          16             0             4            3
3             0          16             0             0            3
4             0          16             0             2            3
5           NaN          11             0             1            1
6           NaN           5             0             3            0

  Scoring: RET Scoring: TD Scoring: 2PT Scoring: PAT Scoring: FG Scoring: PTS  \
0            0           2            0            0           0           12
1            0           1            0            0           0            6
2            0           7            0            0           0           42
3            0           3            2            0           0           22
4            0           5            0            0           0           30
5            0           2            0            0           0           12
6            0           3            0            0           0           18

   age
0   22
1   23
2   24
3   25
4   26
5   27
6   28

In [135]:
#add CBS Fantasy point data
def fantasy_add(dataframe1, url):
    page = requests.get(url)
    soup = BeautifulSoup(page.content, "html.parser")
    results = soup.find('div', class_="Page-shell")
    table = results.find("table", class_="TableBase-table")
    
    
    dataheaders = table.find("tr", class_="TableBase-headTr")
    #headers = []
    headers = ['season','team','games','fantasy points', 'fantasy points per game', 'rushing attempts', 'rushing yards', 'avg yards per rush', 'rushing touchdowns', 'longest rush', 'rushing first downs', 'recieving targets', 'receptions','recieving yards', 'average yards per reception', 'recieving touchdowns', 'longest reception','recieving first downs','total fumbles','fumbles lost']
    #for i in dataheaders.find_all("th"):
        #title = i.text
        #headers.append(title)

    tabledata = pd.DataFrame(columns = headers)
    
    data = table.find("tbody")
    
    for j in data.find_all("tr")[0:]:
        row_data = j.find_all("td")
        row = [i.text for i in row_data]
        length = len(tabledata)
        tabledata.loc[length] = row

    tabledata = tabledata.replace(r'\n',' ', regex=True) 
    
    fantasydata = tabledata[['season','fantasy points','fantasy points per game']]
    fantasydata = fantasydata.drop([0, 1, 2])
    fantasydata.drop(fantasydata.tail(1).index,inplace=True)
    
    display(fantasydata)
    
    fantasydata['season'] = fantasydata.apply(lambda row: int(row.season), axis=1)
    dataframe1['season'] = dataframe1.apply(lambda row: int(row.season), axis=1)
    
    finaldata = pd.merge(dataframe1, fantasydata, on=['season'], how = 'outer')
    
    return finaldata

In [136]:
#Test Cell
df = fantasy_add(df, "https://www.cbssports.com/nfl/players/2241251/devin-singletary/career-stats/")

,season,fantasy points,fantasy points per game
3,2021,157.0,9.2
4,2020,104.0,6.5
5,2019,118.0,9.8

In [137]:
df

,name,position,height (inches),weight (pounds),DOB,COLLEGE,draftyear,draftround,draftpick,draftteam,...,Defensive: LNG,Defensive: PD,Defensive: STF,Defensive: STFYDS,Defensive: KB,age,fantasy points_x,fantasy points per game_x,fantasy points_y,fantasy points per game_y
0,DevinSingletary,Running Back,67,203,1997,FAU,2019,3,74,(BUF),...,0,0,0,0,0,18,NaN,NaN,NaN,NaN
1,DevinSingletary,Running Back,67,203,1997,FAU,2019,3,74,(BUF),...,0,0,0,0,0,19,NaN,NaN,NaN,NaN
2,DevinSingletary,Running Back,67,203,1997,FAU,2019,3,74,(BUF),...,0,0,0,0,0,20,NaN,NaN,NaN,NaN
3,DevinSingletary,Running Back,67,203,1997,FAU,2019,3,74,(BUF),...,0,0,0,0,0,21,NaN,NaN,NaN,NaN
4,DevinSingletary,Running Back,67,203,1997,FAU,2019,3,74,(BUF),...,0,0,0,0,0,22,118.0,9.8,118.0,9.8
5,DevinSingletary,Running Back,67,203,1997,FAU,2019,3,74,(BUF),...,NaN,NaN,NaN,NaN,NaN,23,104.0,6.5,104.0,6.5
6,DevinSingletary,Running Back,67,203,1997,FAU,2019,3,74,(BUF),...,NaN,NaN,NaN,NaN,NaN,24,157.0,9.2,157.0,9.2

In [138]:
#full function
def fullscrape(espn, cbs):
    results, tables = initialize(espn)
    name, position = nameandposition(results)
    height, weight, DOB, COLLEGE, draftyear, draftround, draftpick, draftteam, activity_status = basic_data(results)
    basedata = build_basedata(results)
    a = bulkdata(results,tables)
    df = combinedata(a, basedata)
    df1 = fantasy_add(df, cbs)
    return df1

In [139]:
df = fullscrape("https://www.espn.com/nfl/player/stats/_/id/4040761/devin-singletary", "https://www.cbssports.com/nfl/players/2241251/devin-singletary/career-stats/")

,season,fantasy points,fantasy points per game
3,2021,157.0,9.2
4,2020,104.0,6.5
5,2019,118.0,9.8

In [141]:
print(df)

              name      position height (inches) weight (pounds)   DOB  \
0  DevinSingletary  Running Back              67             203  1997
1  DevinSingletary  Running Back              67             203  1997
2  DevinSingletary  Running Back              67             203  1997
3  DevinSingletary  Running Back              67             203  1997
4  DevinSingletary  Running Back              67             203  1997
5  DevinSingletary  Running Back              67             203  1997
6  DevinSingletary  Running Back              67             203  1997

  COLLEGE draftyear draftround draftpick draftteam  ... Defensive: AVG  \
0     FAU      2019          3        74     (BUF)  ...            0.0
1     FAU      2019          3        74     (BUF)  ...            0.0
2     FAU      2019          3        74     (BUF)  ...            0.0
3     FAU      2019          3        74     (BUF)  ...            0.0
4     FAU      2019          3        74     (BUF)  ...            0.0
5     FAU      2019          3        74     (BUF)  ...            NaN
6     FAU      2019          3        74     (BUF)  ...            NaN

   Defensive: TD Defensive: LNG Defensive: PD Defensive: STF  \
0              0              0             0              0
1              0              0             0              0
2              0              0             0              0
3              0              0             0              0
4              0              0             0              0
5            NaN            NaN           NaN            NaN
6            NaN            NaN           NaN            NaN

  Defensive: STFYDS Defensive: KB age fantasy points fantasy points per game
0                 0             0  18            NaN                     NaN
1                 0             0  19            NaN                     NaN
2                 0             0  20            NaN                     NaN
3                 0             0  21            NaN                     NaN
4                 0             0  22          118.0                     9.8
5               NaN           NaN  23          104.0                     6.5
6               NaN           NaN  24          157.0                     9.2

[7 rows x 75 columns]